.team-section{
  // background-color: #fff;   
}
.team-section-container{
  padding: 70px $pad-x 10px;
  @include breakpoint(sm){
    padding: 133px $pad-x 15px;
  }
  @include breakpoint(xl){
    padding: 144px $pad-x-xl 100px;
  }
} 
.team-title{
  font-family: $global-font-family;
  font-size: 36px;
  line-height: 1.25; 
  font-weight: 700;
  text-align: center;
  color: #333333;  
  margin-bottom: 70px;
  @include breakpoint(sm){
    font-size: 50px;
    line-height: 1.26; 
    margin-bottom: 85px;
  }
  @include breakpoint(xl){
    margin-bottom: 123px;
  }
}
.team-grid{
  
  @include breakpoint(sm){
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 0 -15px;
  }
  @include breakpoint(xl){
    margin: 0 -30px;
  } 
}

.team-item{
  max-width: 62%;
  margin: 0 auto 50px;
  @include breakpoint(sm){
    max-width: unset;
    padding: 0 80px;
    margin-bottom: 70px;
    flex: 0 1 50%;
  }
  @include breakpoint(xl){
    // padding: 0 80px;
    flex: 0 1 33%;
  }
  .img-container{
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
    @include breakpoint(sm){
      margin-bottom: 40px;
    }
  }
  .team-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    object-fit: cover;
    object-position: 50% 50%;
  }  
  .team-name{
    font-family: $global-font-family;    
    font-weight: 700;
    text-align: center;
    color: #333333;  
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1.24; 
    margin-bottom: 5px;
    @include breakpoint(sm){
      font-size: 24px;
      line-height: 1.29; 
      margin-bottom: 6px;
    }
  }
  .team-role{
    display: block;
    font-family: $global-font-family;    
    font-weight: 400;
    text-align: center;
    color: #333333;  
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 17px;
    line-height: 1.24; 
    margin-bottom: 5px;
    @include breakpoint(sm){
      font-size: 24px;
      line-height: 1.29; 
      margin-bottom: 6px;
    }
  }
}  